@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Limelight);

$tittle-font: 'Limelight';
$font-low: 'Comfortaa';
/*colors palette*/
$pal: #b4785d;
$text: #322c24;
$text-low: #775647;
$link: #f09e79;